<div class="">
    <div >
        Device001
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
<div class="">
    <div >
        Device002
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
<div class="">
    <div >
        Device003
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
</div>
