<h1> Welcome To the Devices Page </h1>
<div class="">
    <h1>Add a device</h1>
    <a href="/users/add">Add Page</a>
    <a href="/all_devices">All Devices</a>
  <h1>find your device</h1>
  <form class="" action="/search" method="post">
    <input type="text" name="id" value="">
    <input type="submit" name="" value="Search">
  </form>
</div>
<div class="Devices">
    <div class="Light" id="Light_0001">
        <div class="lightname">
            Light 1
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="Light" id="Light_0002">
        <div class="lightname">
            Light 2
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="Light" id="Light_0003">
        <div class="lightname">
            Light 3
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="Light" id="Light_0004">
        <div class="lightname">
            Light 4
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="television" id="Television_0001">
        <div class="televisionname">
            Television 1
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="television" id="Television_0002">
        <div class="televisionname">
            Television 2
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class = "thermostat">
        <div class="thermostatname">
            Thermostat
        </div>
        <div class "thermostat_temperature">
            <form>
              <label for="degrees">Temperature:</label>
              <input type="text" id="degrees" name="degrees">
            </form>
        </div>
    </div>
    <div class="speaker" id="Speaker_0001">
        <div class="speakername">
            Speaker 1
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="speaker" id="Speaker_0002">
        <div class="speakername">
            Speaker 2
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <div class="speaker" id="Speaker_0003">
        <div class="speakername">
            Speaker 3
        </div>
        <button class="on">
            on
        </button>
        <button class="off">
            off
        </button>
    </div>
    <h1>Delete a device</h1>
</div>
